@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  font-family: "SF Pro Display", system-ui, sans-serif;
}