@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: scroll;
  }

  html, body {
    overflow-x: hidden;
  }

  body {
    @apply font-sans;
  }

  .filter-red {
    filter: invert(27%) sepia(95%) saturate(7480%) hue-rotate(356deg)
      brightness(97%) contrast(108%);
  }
}
